# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
.venv
venv/
ENV/

# Conda
*.conda
*.ipynb_checkpoints

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# xTB
xtbopt/

# Results
lambda_results.json
lambda.db
data/lambda.db
